h1{
   
    color: blue;
}


/* task2 */
div h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main{

    font-weight: bolder;
    background-color: burlywood;
}
p{
    font-size: 30px;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    font-family: Lobster ,monospace;
    border: 2px dotted blue;
    border-radius: 5%;


}
img{
    height: 100px;
    width: 100px;
}
.red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, monospace;
  }

  p {
    font-size: 16px;
    font-family: monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 10px;
  }

  .smaller-image {
    width: 100px;
    border-radius:50%;
  }
  .div{
    background-color: chartreuse;
  }